.home_screen_text {
    font-size: large;
    font-weight: bold;
}

.selected_button {
    background-color: rgb(156, 165, 221);
}

.not_selected_button {
    opacity: 0.5;
}

.profile_button {
    padding: 10px;
    border-radius: 5px;
}
.font_bold{
font-weight: bold;
}
